a {
	color: #7E2217;
	text-decoration: none;
	border: none;
}

#search {
	position: absolute;
	right: 0;
	top: 60px;
}

#wikicmds { 
	padding: 2px;
	color: #222;
	text-align: right;
/*	border-radius: 15px;
	background: #eee;
	border: 1px solid #ddd; */
	font-size: 90%;
	right: 0;
}

#wikicmds ul { list-style-type:none; margin:0px; padding:0px; border: none;}
#wikicmds li { display:inline; padding: 5px; border:none; }
#wikicmds li.browse { li; }
#wikicmds li a { text-decoration:none; color:#7E2217; }

#wikiedit textarea {
	width: 100%;
	height: 400px;	
}