a {
	color: #7E2217;
	text-decoration: none;
	border: none;
}

#search {
	position: absolute;
	right: 0;
	top: 60px;
}

#wikicmds { 
	padding: 2px;
	color: #222;
	text-align: right;
/*	border-radius: 15px;
	background: #eee;
	border: 1px solid #ddd; */
	font-size: 90%;
	right: 0;
}

#wikicmds ul { list-style-type:none; margin:0px; padding:0px; border: none;}
#wikicmds li { display:inline; padding: 5px; border:none; }
#wikicmds li.browse { li; }
#wikicmds li a { text-decoration:none; color:#7E2217; }

#wikiedit textarea {
	width: 100%;
	height: 400px;	
}

.pagetitle {
	font-size: 2em;
}

#wikileft ul {
	border-left: 4px solid #ddd;
	padding-left: 10px;	
	list-style-type: none;
}

h2 {
	font-size: 20px;
	text-shadow: #fff 0px 1px 0;
	color: #7E2217;
}

.searchbutton {
	margin-left: 10px;
}

pre, code, tt {
    color: #7E2217;	
}